* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background-color: #09090a;
  color: white;
  height: 100vh;
  font-size: 1.6rem;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.8rem;
  position: fixed;

  width: 100%;

}
button {
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 125%;
  font-size: 1.6rem;
  cursor: pointer;
}

input {
  appearance: none;
  -webkit-appearance: none;
  width: 6.4rem;
  height: 6.4rem;
  border: 2px solid #27272A;
  border-radius: 8px;
  background-color: #18181b;
}
form{
display: flex;
padding: 18.2rem 4.8rem 4.8rem;
width: fit-content;
}
.habits{
display: flex;
flex-direction: column;
gap: 2.4rem;
margin-top: 6rem;
}
.habit{
width: 6.4rem;
height: 6.4rem;
font-size: 3.2rem;
display: flex;
align-items: center;
justify-content: center;
}
.days{
display: flex;
margin-left: 3.2rem;
gap: 4.8rem;
}
.day{
display: flex;
flex-direction: column;
gap: 2.4rem;
}
.day div{
margin-bottom:.8rem;
font-size: 2rem;
line-height: 125%;
color: #A1A1AA;
text-align: center;
font-family: 'Roboto Mono';
}
input:checked{
  background: #8B5CF6;
border: 2px solid #A78BFA;
}
@media (max-width:580px) {
  button div{
  display: none;
  }
}